<div class="container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @post.image_url %>
    </div>
    <div class="col-md-5">
      <table class="prof-table">
        <tr>
          <td>
            <%= link_to image_tag(@post.prof_pic, class: "img-circle sm-img"), user_path(@post.username) %>
          </td>
          <td>
            <%= link_to @post.username, user_path(@post.username), class: "media-text" %><br>
            <h3><%= @post.location %></h3>
          </td>
        </tr>
      </table>
      <div>
        <h3><%= @post.likes %> likes</h3><br><br>
        <%= link_to @post.username, user_path(@post.username), class: "media-text" %><br>
<h3><%= @post.caption %></h3>
      </div>
    </div>
  </div>
</div>
